/* body {
  background: url("http://www.brandgradients.com/img/backgrounds/messenger-hex-colors-gradient-background.png");
  background-position: bottom;
  background: url("http://www.brandgradients.com/img/backgrounds/bitbucket-hex-colors-gradient-background.png");
  background: linear-gradient(45DEG, #2F1C53, #A46DFF, #F6D1FD);
  background: radial-gradient(#C5DEEA, #4995C1); 
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* REVIEW */
