/* Write a Review button */
.button1 {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 85%;  
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
    opacity: 0.8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
  }
  
  .button1:hover {
    background-image: linear-gradient(to left, rgba(94, 129, 206, 0.548), white);
    border: 2px solid white;
    color: rgb(54, 112, 179);
  }

  .cap {
    display: inline;
    padding: 175px 60px 175px 60px;
    text-align: center;
    line-height: 1.5;
    font-family: Arial;
    color: rgba(0, 0, 0, 0.616);
    font-weight: bold;
    font-size: 24px;
    width: 30%;
    float: left;
    margin: 20px 20px 0px 100px;
    height: 90%;
   /* opacity gradient border */
    border-top: 3px solid #0f203871;
    border-bottom: 3px solid #7791b300;
    background-image: -webkit-linear-gradient(#0f203871, #0000000c);
    background-image: -moz-linear-gradient(#0f203849, #0000000c), -moz-linear-gradient(##0f203871, #0000000c);
    background-image: linear-gradient(#0f203871, #0000000c), linear-gradient(#0f203871, #0000000c);
    background-size: 3px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;  
  }

/* inside the form */
.labels {
    display: inline;
    padding: 30px 50px 30px 50px;
    text-align: left;
    line-height: 2;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    width: 35%;
    float: right;
    margin: 20px 100px 20px 0px;
    height: 90%;
   /* opacity gradient border */
    border-top: 3px solid #0f203871;
    border-bottom: 3px solid #7791b300;
    background-image: -webkit-linear-gradient(#0f203871, #0000000c);
    background-image: -moz-linear-gradient(#0f203849, #0000000c), -moz-linear-gradient(##0f203871, #0000000c);
    background-image: linear-gradient(#0f203871, #0000000c), linear-gradient(#0f203871, #0000000c);
    background-size: 3px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
  }


  /* textbox */
  input[type="text"]{
    text-align: left;
    display: block;
    margin: 0;
    border-radius: 10px;
    height: 100px; 
    width: 92%;
    padding: 0px 20px;
    border: none;
    resize: none;
    background-color: rgb(255, 255, 255);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
  }
  
  /* image */
  input[type="file"]{
    display: block;
    margin: 0;
  }
    
  /* star rating */
  select {
    display: block;
    margin: 0;
    padding: 10px 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.527);
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
  }

  /* submit */
  .button0 {
    display: block;
    margin: 10px auto;
    width: 110px;  
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.699);
    font-weight: bold;
    font-size: 17px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
  }

  .button0:hover {
    background-image: linear-gradient(to left, rgba(94, 129, 206, 0.548), white);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(54, 112, 179);
  }

  .upvotebutton {
    margin: 0 auto;
    padding: 10px;
    width: 60px;  
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
    opacity: 0.8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
  }

  .upvotebutton:hover {
    background-image: linear-gradient(to left, rgba(94, 129, 206, 0.548), white);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(54, 112, 179);
  }

  .arrow {
    display: inline;
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    border-style: solid;
    border-color: rgb(106, 168, 255);
    border-width: 0px 2px 2px 0px;
    transform: rotate(225deg);
    transition: border-width 150ms ease-in-out;
  }

  .arrow:hover {
    border-bottom-width: 3px;
    border-right-width: 3px;
  }

  .square {
    width: 3%;
    height: 0;
    padding-top: 3%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    text-align: center; 
  }
