/* write review, sort, search button */
.button1 {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 85%;  
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
    -webkit-mask-image: -webkitgit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
    opacity: 0.8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
  }
  
  .button1:hover {
    background-image: linear-gradient(to left, rgba(94, 129, 206, 0.548), white);
    border: 2px solid white;
    color: rgb(54, 112, 179);
  }

/* inside the form */
.reviewbar {
  color: rgba(36, 35, 35, 0.815);
  background-image: -webkit-linear-gradient(#ffffffbe, #ffffff27);
  display: flex;
  width: 80%;
  border-radius: 10px;
  margin: 50px auto;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.labels {
    display: block;
    padding: 30px 50px 30px 50px;
    text-align: left;
    line-height: 3;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    width: 80%;
    height: 90%;
    align-items: center;
    margin: 50px auto;
    background-image: -webkit-linear-gradient(#ffffff93, #ffffff17);
    border-radius: 20px;
  }


  /* textbox */
  input[type="text"]{
    text-align: left;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    height: 100px; 
    width: 100%;
    padding: 0px 20px;
    border: none;
    resize: none;
    background-color: rgb(255, 255, 255);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
  }
  
  /* image */
  input[type="file"]{
    display: block;
    margin: 0;
  }
    
  /* star rating */
  select {
    display: block;
    margin: 0;
    padding: 10px 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.527);
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0.568)));
  }

  /* submit */
  .button0 {
    display: block;
    margin: 10px auto;
    width: 15%;  
    height: 5%;
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.699);
    font-weight: bold;
    font-size: 17px;
    background-image: -webkit-linear-gradient(#ffffff, #ffffff2d);
  }

  .button0:hover {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff2d);
    border: 2px solid rgb(59, 156, 212);
    color: rgb(49, 137, 189);
  }

  .reviewbox {
    background-image: -webkit-linear-gradient(#ffffff6e, #ffffff09);
    padding: 20px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    width: 85%;
    position: relative;
    line-height: 30px;
  }

  .upvotebutton {
    margin: 0 auto;
    padding: 10px;
    width: 100px;  
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
    display: inline;
  }

  .upvotebutton:hover {
    background-image: linear-gradient(to left, rgba(94, 129, 206, 0.548), white);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(54, 112, 179);
  }

  .arrow {
    display: inline;
    height: 1.1vw;
    width: .5vw;
    border-style: solid;
    border-color: rgb(106, 168, 255);
    border-width: 0px 2px 2px 0px;
    transform: rotate(225deg);
    transition: border-width 150ms ease-in-out;
  }

  .arrow:hover {
    border-bottom-width: 3px;
    border-right-width: 3px;
  }
 
